/*------Imported files------*/
@import url('https://fonts.googleapis.com/css?family=Nunito:600|Roboto:300,400');
@import url('../fonts/font-awesome-4.7.0/css/font-awesome.min.css');
/*------general definations------*/
html {
    font-size: 100% ;
    height: 100%;
  }
body{
    font-family:sans-serif, serif;
    background-color: antiquewhite;
    color: #000;
    font-size: 1rem;
    margin: 0;
    min-height: 100%;
    position: relative;
    padding-bottom: 50px;
        }
h1, h2, h3 {
    font-family: 'Nunito', sans-serif;
    font-weight:600;
    font-size: 1.5em; 
    color: #000;
}
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1em;
    margin: 0;
}
header, footer {
    background-color:navajowhite;
}
label {display: block;}
/*------Navigater------*/
ul {
    margin: 0;
    padding: 0;
}

nav{
    background-color: sandybrown;
    color: black;
}
nav a, nav a:visited {
	color: #fff;
	text-decoration: none;
    padding:10px 20px;
    display: block;
    border: solid 2px white;
    border-radius:15px 0px 15px 0px;
    align-content: center;
    box-sizing: border-box;
    width: 100%;
}
nav a:hover{
    background-color: rosybrown;
	color: black; 
}
nav a:active {
    color: skyblue;
}

/*------Links------*/
a {
    text-decoration: none;
}
/*------Images------*/
.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 90%;
    height: auto;
}
.ribbon {
    position: absolute;     
    top: -50px;
    right: 0;
    width: 150px;
}
.ribbon img{
    width: 150px;
}
/*------Classes------*/
.container {
    position: relative;
    margin: 0 auto;
    padding: 0 auto;
    width: 300PX;
}
.box {
    border: solid 1px black;
    border-radius: 20px;
    padding: 20px;
    margin: 10px 0;
    text-align: center;
    
}
.box a {
    text-decoration: none;
}
.box:hover {
    box-shadow: 10px 10px 38px 0px burlywood;
}
.front {
    text-align: right;
    text-decoration: none;
    color: white;
}
.selected {
    background-color: burlywood;
}


nav a:hover:after, nav a.selected:after{
    font-family: 'FontAwesome';
    content: "\f105";
    position: absolute;
    right: 20px;
    text-align: center;    
    }

/*------Media------*/
@media screen and (min-width : 600px) {
.played {
    float: left;
    width: 50%;
    margin-right: 20px;
}
played:after {
    display: block;
    clear:both;
    content: " ";
}
nav li {
    display: inline-block;
    }
.ribbon img{
    width: 200px;
}
.container {
    position: relative;
    margin: 0 auto;
    padding: 0 auto;
    width: 600PX;
}
 nav a:hover:after, nav a.selected:after {
    content:"  ";
    }
nav li {
    float:left;
    width: 25%;
    text-align: center;
}
nav:after {
    display: block;
    clear: both;
    content: " ";
}
}
@media screen and (min-width : 900px) {
.box   {
    width:200px;
    display: inline-block;
    margin: 10px;
    box-sizing:border-box;
    vertical-align: top;
    height: 250px;
}
.container {
    position: relative;
    margin: 0 auto;
    padding: 0 auto;
    width: 900PX;
}
.ribbon img{
    width: 250px;
    }
}
footer {
    margin-bottom: inherit;
    background-color: navajowhite;
    position: absolute;
    bottom: 0;
    min-width:100%;
}
.background {
    background-image: radial-gradient(circle farthest-corner at 80% 100%, orange,  white, skyblue);
}
.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flex {
    border: solid 1px black;
    border-radius: 20px;
    padding: 20px;
    margin: 10px 0px;
    text-align: center;
    width: 22%;
    box-sizing: border-box;
    
}